<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="SortManager" packages="">
    <Appenders>
        <File name="SortManager" fileName="target/log/SortManager.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="SortManager"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>